body {
    margin: 0;
    font-family: 'Smythe', sans-serif;
} 

main {
    width: 600px;
    margin: 0 auto;
}

button {
    border-radius: 50%;
    padding: 5px 10px;
    background-color: transparent;
}

.menu-item {
    display: flex;
}

.item-emoji, .item-desc, #add-btn {
    align-self: start;
}

.item-name {
    font-size: 28px;
}

.item-emoji {
    font-family: 'Inter', sans-serif;
}

.item-price {
    font-size: 20px;
}